.light{
  --bg-color: #e3e3e3;

  --inverted-bg-color: #12126e;

  --primary-color: #0e009b;

  --secondary-color: #0030ad;

  --inverted-primary-color: #02a102;

  --inverted-secondary-color: #04ff04;
}